doctype html
html
    head
        title Article Reducer
        link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/main.css')
    body
        .container
            p.album-title #{reviewTitle}
            p.artist-name #{reviewArtist}
            p.score #{reviewScore}/10
            p The reduced version is #{percentOfOriginal}% of the original paragraph and saves the average reader #{timeSaved} minutes of reading
            p.stats Original Read Time: #{originalReadTime} minutes
            p.stats Reduced Read Time: #{reducedReadTime} minutes
            p.stats Original Word Count: #{originalLength} words
            p.stats Reduced Word Count: #{reducedLength} words
            .container.col-sm-6 
                h3.text-center Reduced 
                p #{newParagraph}
            .container.col-sm-6 
                h3.text-center Original
                p #{rawHTML}
            
        script(src='/lib/jquery/dist/jquery.min.js')
        script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
        script(src='textAnalyzer.js')

